@using PacientesRegister.Models.ViewModels
@model TipoSangreViewModel

<h1>Registrar tipo de sangre</h1>
<hr />

<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TipoSangre" class="control-label"></label>
                <input asp-for="TipoSangre" class="form-control" />
                <span asp-validation-for="TipoSangre" class="text-danger"></span>
            </div>

            <hr />
            <div>
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}